body{
    background-image: url(img/map.jpg);
    background-attachment: fixed;
    background-position: 0 0;
    margin: 0;
    font-family: 'Trebuchet MS';
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
}
.shire-link{
    position: absolute;
    top: 510px;
    left: 850px;
    width: 100px;
    height: 100px;
    
}
.bree-lands-link{
    position: absolute;
    top: 480px;
    left: 1050px;
    width: 220px;
    height: 100px;
    
}
.ered-luin-link{
    position: absolute;
    top: 330px;
    left: 500px;
    width: 210px;
    height: 100px;
    
}
.lone-lands-link{
    position: absolute;
    top: 450px;
    left: 1280px;
    width: 170px;
    height: 100px;
    
}